@import './template/header.less';

.d-f{
  display: flex;
  align-items: center;
}
.d-b{
  display: block;
}
.h-1{
  height: 100%;
}
.w-1{
  width: 100%;
}
.fs(@px){
  font-size: unit(@px, px);
}
.pad(@px){
  padding-left: unit(@px, px);
  padding-right: unit(@px, px);
}