.container{
  .patb(80);
  .pad(15);
  background: @theme-background-dark;
  .slick-track{
    .h(530);
    .slick-slide{
      img {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}

.tabNews{
  .patb(30);
  .pad(15);
  .h(590);
  background: @theme-background-dark;
  .ant-tabs-tab{
    color: @theme-text;
  }
  .ant-tabs-tab-active{
    color: @tab-title;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px){
  .container .slick-track {
    .h(400)
  }
}